gdal
rasterio
rasterstats
jupyter
notebook
jupyterlab
ipywidgets
mystmd
jupyterlab-myst
jupyter-book>=2
jupytext
numpy>=2
scipy
pandas
geopandas
statsmodels
matplotlib
plotly
scikit-learn
SALib
plotly
tabulate
Py6S
sphinx
radiative-transfer-models
pyTSEB
model_evaluation@git+https://github.com/hectornieto/model_evaluation
fluxnet_helpers@git+https://github.com/hectornieto/fluxnet-helpers
py3SEB@git+https://github.com/vicenteburchard/py3SEB
